{% extends 'base.html' %}
{% load static %}


{% block body %}
   <section class="" style="background-color: #9A616D;">
      <div class="container py-5 h-100">
         <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
               <div class="card" style="border-radius: 1rem;">
                  <div class="row g-0 justify-content-center">
                     
                     <div class="col-md-4 col-lg-7 d-flex align-items-center">
                        <div class="card-body p-4 p-lg-5 text-black">
                           <form method="POST">
                              {% csrf_token %}
                              <div class="d-flex align-items-center mb-3 pb-1">
                                 <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                 <span class="h1 fw-bold mb-0">Logo</span>
                              </div>
   
                              <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Kayıt Ol</h5>
   
                              <div class="form-outline mb-4">
                                 <input name="username" type="text" id="form2Example17" class="form-control form-control-lg" />
                                 <label class="form-label" for="form2Example17">Kullanıcı Adı</label>
                              </div>
                              <div class="form-outline mb-4">
                                 <input name="fname" type="text" id="form2Example17" class="form-control form-control-lg" />
                                 <label class="form-label" for="form2Example17">Ad</label>
                              </div>
                              <div class="form-outline mb-4">
                                 <input name="lname" type="text" id="form2Example17" class="form-control form-control-lg" />
                                 <label class="form-label" for="form2Example17">Soyad</label>
                              </div>

                              <div class="form-outline mb-4">
                                 <input name="email" type="email" id="form2Example17" class="form-control form-control-lg" />
                                 <label class="form-label" for="form2Example17">Email address</label>
                              </div>
   
                              <div class="form-outline mb-4">
                                 <input name="password1" type="password" id="form2Example27" class="form-control form-control-lg" />
                                 <label class="form-label" for="form2Example27">Şifre</label>
                              </div>
                              <div class="form-outline mb-4">
                                 <input name="password2" type="password" id="form2Example27" class="form-control form-control-lg" />
                                 <label class="form-label" for="form2Example27">Tekrar Şifre</label>
                              </div>
   
                              <div class="pt-1 mb-4">
                                 <button class="btn btn-dark btn-lg btn-block" type="submit">Kaydol</button>
                              </div>
   
                              <p class="mb-5 pb-lg-2" style="color: #393f81;">Zaten bir hesabım var 
                                 <a href="{% url 'loginUser' %}" style="color: #393f81;">Giriş Yap</a></p>
                           </form>
   
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
{% endblock body %}
   